<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- CSS and Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/static/style.css">
    
  <title>Z-Plane Filter Designer</title>
</head>
<body>
  <!-- First Column -->
  <div class="z-plane">

    <div class="unitcircle">
      <canvas id="canvas" class="canvas"></canvas>
    </div>
   
    <div class="graph_buttons">

      <div class="input_container">
        <input type="radio" name="filter_button" id="zero" value="zero" checked>
        <div class="radio_tile">
          <span class="material-symbols-outlined">exposure_zero</span>
          <label for="zero">Zero</label>
        </div>    
      </div>

      <div class="input_container">
        <input type="radio" name="filter_button" id="pole" value="pole">
        <div class="radio_tile">
          <span class="material-symbols-outlined">close</span>
          <label for="pole">Pole</label>
        </div> 
      </div>

      <div class="clear">
        <button class="clear_button" id="clear_all">Clear All</button>
      </div>

      <div class="clear">
        <button class="clear_button" id="clear_zeros">Clear Zeros</button>
      </div>

      <div class="clear">
        <button class="clear_button" id="clear_poles">Clear Poles</button>
      </div>

    </div>

  </div>

  <!-- Second column -->
  <!-- Add your content for the second column here -->

  <script src="/static/script.js"></script>
</body>
</html>
